.body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.loading {
  border: 6px solid #e5e5e5;
  border-top-color: #fd0202;
  animation: is-rotating 1s infinite;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}